html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

[hidden] {
  display: none !important;
}

.innhold {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  .banner {
    padding: 35px;

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }
  }

  .personer {
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
    border: 5px dotted black;
    width: 240px;
    padding: 10px;
    background-color: rgba($color: #ffffff, $alpha: 0.7);

    .person {
      font-size: 20px;
      line-height: 1.6;
      color: #555;
    }
  }
}
